/* Palette Colori da Figma 

Header - #FFFFFF;
colore del Body : #F6F8F9;
Task-color : 
Add Task / Editorial - #14AAF5;
Invisible : #EAEDEF
Q1 Goals - #AB5DE6;
Recruiting - #2CC6AB;
Mobile - #FF9B00;
Website - #EC4A9D;
Sales - #A3D116;
Circle Green - #5FD3BF;
Circle Red - #BB2C2C;
*/

/* Utilities */

:root 
{
--body-color: #F6F8F9;
--header-color: #FFFFFF;
--BButton-color: #14AAF5;
--Editorial-color: #14AAF5;
--PButton-Color: #AB5DE6;
--RButton-Color: #2CC6AB;
--SButton-Color: #A3D116;
--RosaButton-Color : #EC4A9D;
--OButton-Color: #FF9B00;
--Invisible-color: rgba(128, 128, 128, 0.5);
}

body {
    margin: auto;
    width: 1100px;
    background-color: var(--body-color);
    font-family: 'Lato', sans-serif;
    margin: 0;
}

main {
    background-color: var(--body-color);
}

/* Header */
#site_header {
    background-color: var(--header-color);
    height: 50px;
    display: flex;
    margin-left: 0%;
    padding : 20px;
}

#img 
{
    width: 50px; 
}

.Inline { 
    display:inline-block;
    margin-top: auto;
    text-align:center;
    width :max-content;
    height :max-content;
}

.IText { 
    display:inline-block;
    margin-top: auto;
    padding: 5px;
    text-align:center;
    width :max-content;
    height :max-content;
}

/* Main */
#site_main {
    margin-top: 50px;
    align-items: center;
}

.Container {
    position: relative;
    background-color: var(--header-color);
    height: max-content;
    width :800px;
    padding-top:10px;
    padding-bottom:50px;
    margin: auto;
    border-radius: 10px;
}

hr {
    margin-top: 45px;
    display: block;
    color: rgba(128, 128, 128, 0.2);
}

.Button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.Blue {
    position: absolute;
    margin-left : 30px;
    margin-top: 15px;
    background-color: var(--BButton-color);
    color: white;
}

.Invisible {
    position: absolute;
    margin-left : 120px;
    margin-top: 15px;
    color: var(--Invisible-color);
    border: 0.5px solid rgba(128, 128, 128, 0.5);
}

/* New Task - Today - Upcoming */
/* And all the Button classes */

.Margin {
    margin-left: 30px;
    padding-top: 10px;
}

.InlineH2 {
    display: inline-block;
}

.CircleGreen {
    font-size: 0.75rem;
    color: #5FD3BF;
    border: 1px solid #5FD3BF;
    padding: 1px 4px;
    border-radius: 50%;
    margin-right: 5px;
}

.CircleRed {
    font-size: 0.75rem;
    color: #bb2c2c;
    border: 1px solid #bb2c2c;
    padding: 1px 4px;
    border-radius: 50%;
    margin-right: 5px;
}

.Blue_2 {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--BButton-color);
    color: white;
}

.Purple {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--PButton-Color);
    color: white;
}

.Rosa {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--RosaButton-Color);
    color: white;
}

.GreenRecr {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--RButton-Color);
    color: white;
}

.GreenRecr_2 {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--SButton-Color);
    color: white;
}

.Orange {
    font-size: 0.7rem;
    position: absolute;
    line-height: 5px;
    border-radius: 10px;
    padding: 10px;
    margin-left : 10px;
    background-color: var(--OButton-Color);
    color: white;
}