/* Palette Colori da Figma 
Header - #FFFFFF;
colore del Body : #F6F8F9;
Task-color : 
Add Task / Editorial - #14AAF5;
Q1 Goals - #AB5DE6;
Recruiting - #2CC6AB;
Mobile - #FF9B00;
Website - #EC4A9D;
Sales - #A3D116;
*/

/* Utilities */

:root 
{
--body-color: #F6F8F9;
--header-color: #FFFFFF;
}

body {
    background-color: var(--body-color);
    font-family: 'Lato', sans-serif;
}

/* Header */

header 
{
    background-color: var(--header-color);
}


#site_header {
    display: flex;
    margin-left: 10px;
    padding : 20px;
}

#img 
{
    width: 100px; 
}

.Inline { 
    display:inline-block;
    margin-top: auto;
    padding-left : 10px;
    text-align:center;
    width :max-content;
    height :max-content;
}

.IText { 
    display:inline-block;
    margin-top: auto;
    padding: 10px;
    text-align:center;
    width :max-content;
    height :max-content;
}




